@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing:border-box;
    background-color:rgb(35, 41, 60);
    color: #F6F6F6;
}

.titulo-destaque {
    color: rgb(202, 158, 15);
}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items:self-start;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}
.apresentacao__links{
    display: flex;
    justify-content: space-between;
}

.apresentacao__link{
    background-color:rgb(240, 169, 16);
}